body {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}



.header-logo {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #293449;
}
.search span,
.search label {
  font-size: 17px;
  line-height: 18px;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #32425c;
}

.header-bottom {
  background-color: #f3f7f9;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-top,
.site-navigation,
.header-user-navigation ul {
  list-style: none;
}

.header-top a,
.site-navigation a {
  color: #ffffff;
}

.search input[type="text"] {
  font: inherit;
  background-color: #293449;
  border: none;
}

.search input:hover {
    background-color: #212a3a;
}

.search input:hover {

  background-color: #ffffff;
}


.site-navigation a:hover,
.site-navigation a:active {
  background-color: #1d2739;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-top form:hover,
.bookmarks:hover,
.bookmarks:active,
.cart:hover,
.cart:active {
  background-color: #212a3a;
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.headline {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-family: "Cuprum", "Arial", sans-serif;

}

.header-contacts-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;

  border: 3px solid #ffffff;

}

.header-contacts-address {
  font-size: 14px;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
}

.login-link,
.user-profile-form,
.user-profile-logout {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

.user-button a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-user-navigation a:hover {
  color: #ee3643;
}
.header-user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile-form:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-button a:hover {
  color: #ee3643;
}

.user-button a:active {
  color: rgba(50, 66, 92, 0.3);
}





.about-us,
.contacts {
  background-color: #ffffff;
}
.about-us h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}


.transport-company-list {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.button {
  font-size: 14px;
  line-height: 17.5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: "Cuprum", "Arial", sans-serif;


  background-color: #ee3643;
}



.footer-logo {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.upper-footer ul,
.lower-footer ul {
  list-style: none;
}

.upper-footer {
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #32425c;
}

.upper-footer p,
.footer-navigation-list a {
  color: #f3f7f9;
}
.footer-offers-list a {
  color: #ffd180;
}

.lower-footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #293449;
}

.footer-social a {
  color: #ffffff;

  background-color: #212a3a;
}

.lower-footer b {
  font-weight: 400;
}
.footer-feedback,
.footer-copyright {
  color:#ffd180;
}

.footer-offers-list a:hover,
.footer-navigation-list a:hover {
  text-decoration: underline;
}

.footer-offers-list a:active {
  color: rgba(255, 209, 128, 0.5);
}


.footer-navigation-list a:active {
  color: rgba(241, 245, 247, 0.5);
}
.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.footer-feedback:hover,
.footer-copyright:hover {
  text-decoration: underline;
}

.footer-feedback:active,
.footer-copyright:active {
  color: #ee3643;
}




.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f2f6f8;
}
.breadcrumbs {
  list-style: none;
}
.breadcrumbs a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter {
  text-transform: uppercase;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}
.filter label {
  font-size: 15px;
  line-height: 20px;
}
.filter-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;

  background-color: #ffffff;
}
.catalog-list {
  list-style: none;
  text-align: center;
}


.product-name {
  font-size: 18px;
  line-height: 20px;
}


.old-price,
.new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.product-name a {
  color: #000000;
}
.old-price {
  text-decoration: line-through;
  color: #999999;
}
.new-price {
  color: #ffffff;
  background: url("../img/price.png") center no-repeat;

}
.product-button {
  font-size: 14px;
  line-height: 18px;
}

.product-button-buy {
  background-color: #63a63e;
}
.product-button-buy:hover {
  background-color: #5fbb2d;
}
.product-button-buy:active {
  background-color: #518534;
}
.product-button-bookmark:hover {
  border-color: #32425c;
}
.product-button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.product-button-bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  text-transform: uppercase;
}




  /* сетка */

.main-header {
  margin-bottom: 60px;

  /* Временно для сетки */
  min-height: 320px;
}
.header-top {
  display: flex;
  width: 100%;


  /* Временно для сетки */
  min-height: 42px;
}
.header-bottom {

    /* Временно для сетки */
  min-height: 278px;
}

.header-top .container {
  display: flex;
  align-items: center;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}

.header-logo {
  height: 47px;
  width: 220px;
}

.search {
  width: 270px;
}
.shop-menu {
  width: 433px;
}


.site-navigation {

  /* Временно для сетки */
  min-height: 60px;
}

.header-user-navigation ul,
.site-navigation {
  margin: 0;
  padding: 0;
}
.middle-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
  align-items: center;
  padding: 42px;
  justify-content: space-between;
}
.headline {
  width: 196px;
}
.header-contacts {
  width: 270px;
}
.header-user-navigation {
  width: 300px;
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 940px;
}

.columns {
  display: flex;
  justify-content: center;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
  width: 940px;
}

.about-us {
  width: 520px;

  /* Временно для сетки */
  min-height: 293px;
}
.contacts {
  width: 122px;

  /* Временно для сетки */
  min-height: 293px;
}
.transport-company-list {
  margin: 0;
  padding: 0;
}

.upper-footer {
  display: flex;
  min-height: 193px;
}
.upper-footer .container {
  display: flex;
  justify-content: space-between;

}

.footer-logo {
  width: 220px;
  height: 68px;

}

.upper-footer-contacts {
  width: 322px;

}
.footer-navigation-list,
.footer-offers-list {
  margin: 0;
  padding: 0;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;

}
.footer-navigation-list {
  display: flex;
  width: 547px;
  justify-content: space-between;
}
.footer-offers-list {
  display: flex;
  width: 524px;
  justify-content: space-between;
}
.lower-footer .container{
  display: flex;
  justify-content: space-between;

}
.footer-social ul{
  margin: 0;
  padding: 0;
}
.social-buttons {
  display: flex;
  width: 138px;
  justify-content: space-between;
}
.footer-rights {
  width: 227px;
}



.inner-page .main-header {
  margin-bottom: 25px;
}

.title-crumbs {
  display: flex;
  flex-direction: column;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  order: 1;

  min-height: 89px;
}
.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  width: 268px;
  margin-bottom: 25px;

  /* Временно для сетки */
  min-height: 24px;
}
.breadcrumbs li {
  margin-right: 18px;
}

.filters {
  width: 220px;
  /* Временно для сетки */
  min-height: 750px;
}

.column-sort-product {
  width: 700px;

}
.catalog {
  width: 700px;

  /* Временно для сетки */
  min-height: 996px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.sort {
  display: flex;
  margin-bottom: 20px;
  /* Временно для сетки */
  min-height: 38px;
}

.sort-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.product-item {
  width: 220px;
  margin-right: 20px;

  /* Временно для сетки */
  min-height: 318px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;

}
.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 60px;

  /* Временно для сетки */
  min-height: 38px;
}







